/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/bootstrap.min.js
/public/js/jquery.min.js
/public/js/popper.min.js
/public/css/font-awesome.css
/public/css/bootstrap.min.css
/resources/views/home.blade.php
/resources/views/auth/login.blade.php
/resources/views/auth/register.blade.php
/resources/assets/js/jquery.js
/resources/assets/js/popper.min.js
/resources/assets/sass/bootstrap.min.css
/resources/assets/sass/font-awesome.min.css

