#header{
  .text-black {
    color: #111 !important
  }
  #navbarToggleExternalContent{
    a{
      border-bottom: 1px solid #fff;
    }
  }
  .header-nav{
    color: #616161;
    padding-bottom: 0px!important;
    font-size: 13px;
    .logo{
      height: 80px;
      width: 80px;
    }
    .slogan{
      //font-size: 16px;
      font-weight: 600;
    }
    .langue{
      img{
        height: 15px;
      }
    }
    .header-text{
      span{
        font-weight: 500;
        color: #ffc100;
      }
    }
    .header-btn{
      .btn{
        font-size: 12px;
        margin: 0 8px;
      }
    }
    .link-auth{
      line-height: 70px;
      a{
        color: #616161;
        text-decoration: none;
        &:hover{
          color: #ffc100;;
        }
      }
    }
    .imgprofile{
      position: relative;
      
      padding-top: 8px;
      img{
        height: 30px;
        widows: 30px;
        border-radius: 50%;
      }
      .circlered{
        font-size: 10px;
        padding: 4px;
        height: 15px;
        width: 15px;
        line-height: 7px;
        text-align: center;
        color: #f6f4f4;

        position: absolute;
        border-radius: 50%;
        background-color: red;
      }
      .rednotificationnumber{

        line-height: 7px;
        text-align: center;

        right: -7px;
        top: 23px;
      }
      .detailmenu{
        position: absolute;
        display: none;
        width: 200px;
        top: 67px;
        background-color: #fff;
        left: -160px;
        z-index: 25;
        border-radius: 8px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        a{
          line-height: 15px;
          position: relative;
          &:hover{
            background-color: #eee;
          }
          .rednotif{
            right: 10px;
          }
        }
      }
    }

  }
  .backdrop{
    position: fixed;
    top: 0;
    display: none;
    //background-color: red;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    top: 0;
  }
  @media (max-width:767px){.hidden-xs{display:none!important}}
  @media (min-width:768px) and (max-width:991px)
  {.hidden-sm{display:none!important}}
  @media (min-width:992px) and (max-width:1199px)
  {.hidden-md{display:none!important}}
  @media (min-width:1200px){.hidden-lg{display:none!important}}
}