
// Body
$body-bg: #f5f8fa;
$red: #f44336;
$blue: #0277db;
$green: #4caf50;
$grayblue: #263238;
$cleangray: #e0e0e0;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
