#UserInformation {

.profile-header-img {
    text-align: center;
}
.profile-header-img >.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
    border-radius: 50%;
    text-align: center;
}
.custom-badge {
    margin-top: -30px;
    margin-right: -80px;
    text-align: center;
    margin-bottom: 20px;
}
.fa-form ,.fa-form-last-line{
    margin-top: 15px;
    margin-bottom: 15px;
}
.fa-form{
    margin-right: 10px;
    color:green;
}
.fa-form-last-line{
    margin-left: 26px;
}
.title-tiked{
    position: fixed;
    margin-left: 40px;
}
.master{
    margin-top: 60px
}
@media only screen and (min-width: 900px){
    .master{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 769px){
    .title-tiked{
             position: absolute;
            margin-left: 40px;
    }
}
}