#verificationProfil{
  background-color: #fff;
  font-size: 14px;
  color:  $bluetext;

  a{
    text-decoration: none;
    color:  $bluelink;
    font-size: 14px;
  }
  .itemverifie{
    i{
      font-size: 36px;
    }
  }
}