//
// Variables
// --------------------------------------------------


//== Colors
//
$background-button: #0277bd !default;
$alert-delivery: #f44336 !default;
$price: #4caf50 !default;
$big-title: #263238 !default;
$textfield: #e0e0e0 !default;
$background-register : #EDEDED !default;
$color: #054752;
$global-font-family: gt-eesti,"Helvetica Neue",Helvetica,Arial,sans-serif !default;




// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9em;
$line-height-base: 0.7em;
