#header{
  #navbarToggleExternalContent{
    a{
      border-bottom: 1px solid #fff;
    }
  }
  .header-nav{
    color: #616161;
    padding-bottom: 0px!important;
    font-size: 13px;
    .logo{
      height: 80px;
      width: 80px;
    }
    .slogan{
      //font-size: 16px;
      font-weight: 600;
    }
    .langue{
      img{
        height: 15px;
      }
    }
    .header-text{
      span{
        font-weight: 500;
        color: #ffc100;
      }
    }
    .header-btn{
      .btn{
        font-size: 12px;
        margin: 0 8px;
      }
    }
    .link-auth{
      line-height: 70px;
      a{
        color: #616161;
        text-decoration: none;
        &:hover{
          color: #ffc100;;
        }
      }
    }
    .imgprofile{
      position: relative;
      padding-top: 8px;
      img{
        height: 30px;
        widows: 30px;
        border-radius: 50%;
      }
      .rednotificationnumber{
        font-size: 10px;
        padding: 4px;
        height: 15px;
        width: 15px;
        line-height: 7px;
        text-align: center;
        color: #f6f4f4;
        right: -7px;
        top: 23px;
        position: absolute;
        border-radius: 50%;
        background-color: red;
      }
    }
  }
  @media (max-width:767px){.hidden-xs{display:none!important}}
  @media (min-width:768px) and (max-width:991px)
  {.hidden-sm{display:none!important}}
  @media (min-width:992px) and (max-width:1199px)
  {.hidden-md{display:none!important}}
  @media (min-width:1200px){.hidden-lg{display:none!important}}
}