
#help{
  position: fixed;
  bottom: 0px;
  right: 32px;
  z-index: 20;
  background-color: $bluelink;
  padding: 32px;
  color: #fff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  #btnhidehelp{
    position: absolute;
    right: 22px;
    color: #313131;
    top: 9px;
    cursor: pointer;
  }
  .blockenligne{
    .circlegreen{
      width: 10px;
      height: 10px;
      margin-right: 5px;
      margin-top: 5px;
      border-radius: 50%;
      background-color: green;
    }
    padding: 4px 8px;
    border-radius: 15px;
    background-color: #eee;
    color: #616161;
    position: absolute;
    right: 60px;
    font-size: 12px;
    top: 0px;
  }
  .groupfoto{
    position: absolute;
    right: 38px;
    top: -45px;
    .img1{
      margin-right: -25px;
    }
    .img3{
      margin-left: -25px;
    }
  }
  img{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    padding: 0px;
    border: 1px solid #fff;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .part1{
    width: 317px;
  }
  .title{
    font-size: 16px;
    font-weight: 600;
  }
  .desc{
    font-size: 14px;
  }
  .linkhelp{
    padding: 4px 23px;
    border-radius: 55px;
    font-weight: 600;
    font-size: 12px;
    background-color: #054752;
  }
}
.hidehelp{
  animation: mymove 1s ;
  bottom: -133px!important;
  .blockenligne{
    top: -24px!important;
  }
  @keyframes mymove {
    from {bottom: 0px;}
    to {bottom: -133px;}
  }
}