#reservation{
  .text-green {
    color: #00a65a !important
  }
  font-size: 14px;
  color:  $bluetext;
  .linkcategorie{
    a{
      text-decoration: none;
      color:  $bluetext;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #eee;
    }
    .actiF{
      background-color: $orangebg;
    }
  }
  .title{
    font-weight: 500;
  }
  .reservrow{width: 300px}
  .reservationitem{
    color:  $bluetext;

    i{margin: 5px;}
    .reservationheader{
      font-weight: 600;
    }
    .reservationcontent{
      position: relative;
      .contentdesc{
        .linkdesc{
          position: absolute;
          bottom: 8px;
          right: 8px;
          text-decoration: none;
          color: $bluelink;
        }
      }
    }
  }
  @media (max-width:767px){
    .border-right{border-right:none!important}
    .reservationitem{
      background-color: #eee;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      margin: 4px;
      .linkdesc{
        position: relative!important;
        margin-top: 12px;
      }
    }
  }
}